<html>

<head>
<title>Activiteiten</title>
<script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>

<body>

<div w3-include-html="charts/activiteiten/chart.html"></div> 
        <script>
            w3IncludeHTML();
        </script>

</body>
</html>
