<html>

<head>
<title>Activiteiten</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

<div class="container">
<h1>
Activiteiten
</h1>

<p>
Tijdens de minor krijgen de deelnemers verschillende activiteiten aangeboden, waarmee ze kunnen aantonen over bepaalde competenties te beschikken. Uiteindelijk moeten de activiteiten leiden waardevolle kennisproducten. Dit kan in de vorm zijn van artikelen, weblectures, tutorials, etc. Hiermee wordt het information capital van de minor iedere ronde verrijkt. 
</p>

<p>
De activiteiten staan in een bepaalde verhouding tot elkaar. Onderstaande grafiek toont de relaties. De bedoeling is dat de deelnemer activiteiten in de juiste volgorde doorloopt en optimaal gebruik maakt van de gelegenheid om kennis en ervaring op te doen. Uiteindelijk moet ieder pad leiden tot een kennisproduct dat voldoet aan de kwaliteitsnormen van de minor. Iedere activiteit biedt de deelnemer de gelegenheid om bewijs aan te leveren op basis waarvan competenties kunnen worden beoordeeld.
</p>

<embed width=800 height=800 src="https://minorsmart.github.io/sep2017/docs/onderwijs/ontwerp/charts/activiteiten/chart.html">

<p>
Bijvoorbeeld wordt aan ieder bedrijfsbezoek een online opdracht gekoppeld met een thema. Soms kan het zijn dat de opdracht vooraf moet worden gemaakt, zodat de deelnemer met meer focus aan het bezoek begint. In andere gevallen kan het zijn dat de opdracht achteraf wordt uitgevoerd en tijdens het bezoek data moet worden verzameld.
</p>

<p>
Met alle verkregen kennis levert de deelnemer een kennisproduct dat aansluit bij zijn eigen interesses en ambities. Dit deelt hij of zij met de groep tijdens een inspiratiesessie. Eventuele feedback kan worden verwerkt voordat het eindproduct wordt toegevoegd aan de kennisbank.
</p>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
